<body id="contact">
  
  <!-- header始まり -->
  <header>
    <div class="logo">
      <a href="/"><img src="/assets/logo5.png" alt="SNAPPERS"></a>
    </div>
    <nav>
      <ul class="global-nav">
        <% if user_signed_in? %>
          <li><%= current_user.nickname %></li>
          <li id="store"><a href="/tweets/tweet">Store</a></li>
          <li id="store"><a href="/tweets/new">New</a></li>
          <li><%= link_to "MyPage", "/users/#{current_user.id}" %></li>
          <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "LogIn", new_user_session_path, class: 'post' %></li>
          <li><%= link_to "NewUser", new_user_registration_path, class: 'post' %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <!-- header終わり -->
  
  <!-- wrap始まり -->
  <div id="wrap" class="clearfix">
    <div class="content">
      <div class="main">
        <h1>Store Search</h1>
        <p>日本全国のショッピングモールを掲載しています。</p>
        <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "都道府県を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
        <a href="/tweets/tweet/?option=B">営業面積順</a>
        <div class="contents row clearfix">
          <% @tweets.each do |tweet| %>
            <div class="content_post" style="background-image: url(<%= tweet.image %>);">
            <%= tweet.area %>㎡<br>
              <div class="more">
                <span><%= image_tag 'arrow_top.png' %></span>
                <ul class="more_list">
                  <li>
                    <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
                  </li>
                  <% if user_signed_in? && current_user.id == tweet.user_id %>
                    <li>
                      <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
                    </li>
                    <li>
                      <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <aside class="sidebar">
        <section>
          <h2>Store Location</h2>
          <ul>
            <li><a href="">北海道</a></li>
            <li><a href="">東北</a></li>
            <li><a href="">関東</a></li>
            <li><a href="">東海</a></li>
            <li><a href="">関西</a></li>
            <li><a href="">中国・四国</a></li>
            <li><a href="">九州</a></li>
          </ul>
        </section>
        
      </aside>
    </div>
  </div>
  <!-- wrap終わり -->
  
  <!-- footer始まり -->
  <footer>
    <small>(C)2017 Hattori-studio.</small>
  </footer>
  <!-- footer終わり -->
  
</body>